In [6]:
#for many cases we would like to know the most intence rain event in our area of interset
#out data located in the IMS data set
#the follwing code will help us to sort the most intence rain events from the IMS data
#we should provide the code a CSV file that can be downloaded easy from the IMS site
#the CSV should have column of station name, date and rainfall amount

#importing the data base
import pandas as pd
data = pd.read_csv(r"d:\Users\97252\Downloads\data_202402281936.csv")
data.head()

#to avoid errors we will change the column name to English

new_names={"תחנה" : "station","תאריך": "date", 'כמות הגשם היומית (מ"מ)': "rain"}
data = data.rename(columns=new_names)

#change the date column to datetime format

data["date"] = pd.to_datetime(data["date"], format='%d/%m/%Y')
data.head()

#grouping the data by the station and 

grouped = data.groupby("station")
station_dataframes = {}
for station_name,station_df in grouped:
    station_dataframes[station_name] = station_df.copy()
    

#now we will create accumulated data frame with top 30 rain events for each station

top_30_events = []

# Iterate over each station
for station_name, station_df in station_dataframes.items():
    # Sort the DataFrame by date
    station_df.sort_values(by='date', inplace=True)
    
    # Calculate the rolling sum for a 3-day window
    rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
    
    # Add the rolling sum as a new column
    station_df['rolling_sum'] = rolling_sum.values
    
    # Get the top 30 events for this station
    top_30_station_events = station_df.sort_values("rolling_sum", ascending=False).head(30)
    
    # Append the top events for this station to the list
    top_30_events.append(top_30_station_events)

# Concatenate all top events into a single DataFrame
top_30_events_df = pd.concat(top_30_events)

C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()
C:\Users\97252\AppData\Local\Temp\ipykernel_17092\237156549.py:40: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['station'], dtype='object')
  rolling_sum = station_df.set_index('date').rolling(window=pd.Timedelta(days=3), min_periods=1).sum()

In [10]:
top_30_events_df.set_index("date").sort_values("rolling_sum", ascending=False)

                               station  rain  rolling_sum
date
2023-12-23        נצרת 08/2023-12/2023  91.4        146.7
2023-12-24        נצרת 08/2023-12/2023   0.4        145.8
2023-12-24    שדה אילן 09/1970-12/2023   1.0        140.2
2023-12-23    שדה אילן 09/1970-12/2023  81.6        139.5
2023-12-23  תבור כדורי 09/2002-12/2023  85.2        136.9
...                                ...   ...          ...
2023-08-28        נצרת 08/2023-12/2023   1.5          1.5
2023-12-21        נצרת 08/2023-12/2023   1.3          1.3
2023-10-14        נצרת 08/2023-12/2023   0.5          0.5
2023-10-09        נצרת 08/2023-12/2023   0.3          0.3
2023-11-17        נצרת 08/2023-12/2023   0.2          0.2

[264 rows x 3 columns]

In [11]:
filtered_df = top_30_events_df[
    (top_30_events_df["date"] == "2023-12-23") | (top_30_events_df["date"] == "2023-12-24") | (top_30_events_df["date"] == "2023-12-25")
| (top_30_events_df["date"] == "2023-12-20") | (top_30_events_df["date"] == "2023-12-21") | (top_30_events_df["date"] == "2023-12-22") ]
filtered_df.sort_values("date")

                         station       date  rain  rolling_sum
3921        נצרת 08/2023-12/2023 2023-12-21   1.3          1.3
3924    שדה אילן 09/1970-12/2023 2023-12-22  57.6         57.9
3925        נצרת 08/2023-12/2023 2023-12-22  54.0         55.3
3934        נצרת 08/2023-12/2023 2023-12-23  91.4        146.7
3938   בית השיטה 09/1994-12/2023 2023-12-23  23.0         50.4
3936        גזית 10/1977-12/2023 2023-12-23  48.5         99.2
3933    שדה אילן 09/1970-12/2023 2023-12-23  81.6        139.5
3941         גשר 09/1933-12/2023 2023-12-23  36.3         69.2
3937  כפר יחזקאל 09/1939-12/2023 2023-12-23  25.0         62.0
3935  תבור כדורי 09/2002-12/2023 2023-12-23  85.2        136.9
3942    שדה אילן 09/1970-12/2023 2023-12-24   1.0        140.2
3947   בית השיטה 09/1994-12/2023 2023-12-24   0.2         50.6
3946  כפר יחזקאל 09/1939-12/2023 2023-12-24   0.3         62.3
3949         גשר 09/1933-12/2023 2023-12-24   1.3         70.5
3945        גזית 10/1977-12/2023 2023-12-24   2.0        101.2
3943        נצרת 08/2023-12/2023 2023-12-24   0.4        145.8
3944  תבור כדורי 09/2002-12/2023 2023-12-24   0.8        136.8

In [12]:
#filtring for data validation

filtered_df = top_30_events_df[
    (top_30_events_df["date"] == "2023-12-23") | (top_30_events_df["date"] == "2023-12-24") | (top_30_events_df["date"] == "2023-12-25")
| (top_30_events_df["date"] == "2023-12-20") | (top_30_events_df["date"] == "2023-12-21") | (top_30_events_df["date"] == "2023-12-22") ]
filtered_df.sort_values("date")

SyntaxError: invalid syntax (2500002607.py, line 6)

In [19]:
#we can also see the top rain events for individual station
#first lets see all of the station names in our data
data["station"].unique()


top_30_events_df.loc[top_30_events_df["station"]== "נצרת 08/2023-12/2023"]

                   station       date  rain  rolling_sum
3934  נצרת 08/2023-12/2023 2023-12-23  91.4        146.7
3943  נצרת 08/2023-12/2023 2023-12-24   0.4        145.8
3836  נצרת 08/2023-12/2023 2023-11-19  67.4         74.3
3845  נצרת 08/2023-12/2023 2023-11-20   0.2         74.3
3925  נצרת 08/2023-12/2023 2023-12-22  54.0         55.3
3861  נצרת 08/2023-12/2023 2023-11-27   1.9         15.8
3822  נצרת 08/2023-12/2023 2023-11-14  13.1         15.2
3912  נצרת 08/2023-12/2023 2023-12-13   0.4         14.4
3903  נצרת 08/2023-12/2023 2023-12-12  14.0         14.0
3852  נצרת 08/2023-12/2023 2023-11-26  13.9         13.9
3783  נצרת 08/2023-12/2023 2023-10-15  12.7         13.2
3950  נצרת 08/2023-12/2023 2023-12-27   9.9          9.9
3833  נצרת 08/2023-12/2023 2023-11-18   6.7          6.9
3879  נצרת 08/2023-12/2023 2023-12-06   1.6          6.2
3870  נצרת 08/2023-12/2023 2023-12-05   4.6          4.6
3894  נצרת 08/2023-12/2023 2023-12-09   2.5          3.7
3806  נצרת 08/2023-12/2023 2023-11-12   2.1          3.6
3888  נצרת 08/2023-12/2023 2023-12-08   1.2          2.8
3799  נצרת 08/2023-12/2023 2023-11-11   1.5          1.5
3750  נצרת 08/2023-12/2023 2023-08-28   1.5          1.5
3921  נצרת 08/2023-12/2023 2023-12-21   1.3          1.3
3774  נצרת 08/2023-12/2023 2023-10-14   0.5          0.5
3766  נצרת 08/2023-12/2023 2023-10-09   0.3          0.3
3831  נצרת 08/2023-12/2023 2023-11-17   0.2          0.2